<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <asp scriptErrorSentToBrowser="true"/>
<defaultDocument enabled="true">    <!-- this line enables default documents for a directory -->
   <files>              
       <add value="index.htm"/>
       <add value="index.php"/>                
       <add value="photography.php/>                     
       <add value="login.php/>     
   </files>
</defaultDocument>
    </system.webServer>
    <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true"/>
    </system.web>
</configuration>