@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow);
html, body {
   background-color: #fff !important;
}
h1, h2, h3 {
    font-family: 'Archivo Narrow', sans-serif;
}

li{
	position: relative;
}

a, a:visited, a:hover{
    color:#0600FF;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

a.imageLink, a.imageLink:visited{
  font-style: italic;
  color:#333;
}
a.imageLink:hover{
  text-decoration: underline;
}

ul ul, ul ol, ol ol, ol ul {
    margin:0;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  font-weight: bold;
  font-size: 20px;
}

.banner {
    background-color: #fff;
    color: #333;
    height: 100px;
}
.banner h1 {
    font-size: 50px;
    line-height: 50px;
}
.main-frame {
    background-color: #FFF;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-top: -30px;
}
.search-box {
    line-height: 40px;
    background-color: #333;
    color: #FFF;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.search-box label {
    font-weight: bold;
    margin-left: 10px;
}

.repeater-list {
    list-style: none;
    margin: 0px;
}

.repeater-list h3 {
    margin-top: 0px;
}

.repeater-list .ratings {
    line-height: 30px;
    text-align: center;
    background-color: #333;
    color: #FFF;
    margin-top: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.repeater-list .fulldate {
    margin: 5px;
}


.repeater-list li:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}

.category-container{
border-radius: 6px;
margin-bottom: 20px;
overflow: hidden;
}

.category-header{
    padding:10px;
    background:#333;
}

.category-header div span, .category-header div.up, .category-header div.down{
  color:#C7BDBD;
}

.align-header-buttons div.up:hover, .align-header-buttons div.down:hover
{
  z-index:10;
  color:#333;
}

.sub-category-header{
  padding: 10px;
  border-top: 1px solid;
    background: #CAE3FF;
}

.category-header a, a:visited, a:hover, .category-header a:visited, .category-header a:hover{
  color:#98C8FF;
}

.sub-category-header a, .sub-category-header a:visited, .sub-category-header a:hover{
  color:#333;
}
.category-header a:hover, .sub-category-header a:hover{
  text-decoration: underline;
}

li{
  list-style-type: none;
}

ul{margin:0;}

ul li div{
    position: relative;
}

ul li div span{
    width:100px;
    font-weight: bold;
}

ul li div table{
  max-width:100%;
}

ul li div table td.td-large{

    padding-left:20px;
}

ul li div table td.td-large input[type=text]{
    width:75%;
}


ul li .disabled{
    border: none;
    box-shadow: none;
    background: transparent;
}


ul li div .button-container{
position: absolute;
top: 0;
right: 0;
}

.align-header-buttons div{
	position: relative;
	display: inline-block;
}

.image li, .video li{
  border-left: dotted 1px #ddd;
  border-right: dotted 1px #ddd;
background-image: linear-gradient(to bottom,#fff,#EAEAEA);
}

.video li .info, .image li .info {
  padding: 20px 0px 20px 0px;
  border-bottom: solid 1px #ddd;
  margin: 0 10px 0 40px;
}

.video li .info.last, .image li .info.last{
  border:none;  
}

.item_status {
  color: red;
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  line-height: 110px;
  font-size: 75px;
  text-align: center;
  opacity: .3;
}

.item_status.active{
  display: none;
}

.inactive{
  display: none;
}

/************************ BUTTONS ***************************/
.button{
  border-radius: 3px;
  border: 1px solid transparent;
  color: #000;
  background: transparent;
  font-weight: bold;
  padding: 0px 10px 0px 0px;
  cursor: pointer;
  position: relative;
  text-align: center;
    padding:2px;
}

.button.delete{
  color: red;
  border-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.button.add{
   color:rgb(0, 155, 26);
}

.button.edit{
  display:none;
  background: #FFDF00;
  color: #000;
}

.button.up, .button.down{
	/*border-color: #98C8FF;*/
    color:#333;
}

.button.delete.item{
  position: absolute;
  margin-left: 8px;
  margin-top: 20px;
}

/************************ BUTTONS HOVER ***************************/
.button:hover{
  z-index:10;
  background-color: transparent;
  color:#000;
}

.button.delete:hover, .button.delete.item:hover{
	color:#fff;
  text-shadow: 1px 1px #333;
}

.button.add:hover{	
   border:1px solid rgb(0, 155, 26);
   color:rgb(0, 155, 26);
}

.button.up:hover, .button.down:hover{

   z-index: 10;

}

/******************* END BUTTONS ********************/

#category-filter ,#sub-category-filter, #item, #video-filter{
    background:#333;
    color: #98C8FF;
      margin-right: 20px;
}

.ng-binding{
    font-weight: bold;
}

#header-content{
    position: relative;
}

#header-links{
    position: absolute;
  top: 0;
 right: 0;
  float: left;
}

 #header-links div {
    position: relative;
  top: 0;
  color: #333;
  display: inline-block;
  float: right;
  padding-left:5px;
  padding-right:5px;
}

#header-links a {
  text-decoration: none;
  color:#333;
}

#header-links a:hover{
  text-decoration: underline;
}

.images-thumb{
    position: relative;
  width: 100px;
  display: inline-block;
  float: left;
  margin-right: 15px;
  height: 100px;
}
.images-thumb img{
    width: 100%;
}
.image-container{
    overflow: hidden;
}

#error_message{
  color:red;
  text-align: center;
}

#user_name{
  font-weight: bold;
  background-color: #ccc;
  text-align: center;
}

.disabled{
	visibility: hidden;
}

/************************ OVERLAY STATES *******************************/

.info-overlay{
	  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
/*	-webkit-transition: all 1s.5, -webkit-transform .5s;
    transition: all .5s, transform .5s;*/
  left: 0;
  top: 0;
  z-index: -1;

}

.info-overlay.remove, .category-header .info-overlay.remove{
  background-color: red !important;
  z-index: 1;
  opacity: .6;
}

.info-overlay.new, .category-header.new{
	background-color: #58FC5A;
    z-index: 0;
  opacity: .5;
}

.info-overlay.move, .category-header.move{
	background-color: #fff;
    z-index: 1;
  opacity: .8;
}

.info-overlay.edit, .category-header.edit{
	background-color: rgb(255, 250, 200);
      z-index: 0;
}


.info-overlay.include{
  background-color: rgb(240, 43, 43);
  z-index: 1;
  opacity: .5;
}


.focus{background-color: #000;}

/********************* BOOTSTRAP MODAL OVERRIDE & MODAL STUFF ******************************/

.modal-dialog{
  background: #fff;
  border-radius: 6px;
  color:#000;
  font-weight: bold;
}


.modal-dialog .button.up, .modal-dialog .button.down{
  border-color: #98C8FF;
    color:#333;
}

.modal-dialog .button.up:hover, .modal-dialog .button.down:hover{
  border-color: #0077FF;
    /*text-decoration:underline;*/
}

.modal-dialog .modal-body input{
  background-color: #333;
  color:#98C8FF;
}

#my_form {margin: 0;}

.ui-modal-header{
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #98C8FF;
}

.ui-modal-footer{
/* background-color: #000;
  -moz-box-shadow: inset 0 0 10px #333;
  -webkit-box-shadow: inset 0 0 10px #3333;
  box-shadow: inset 0 0 5px #333; */
  padding: 10px;
  text-align: right;
}

.modal-content, .modal-body{
	overflow: hidden;
}

.modal-body{
background-image: linear-gradient(to bottom,#fff,#EAEAEA);
}

#upload_frame{
	max-height:75px;
  width: 100%;
}

#progress_bar{
	background: #37E054;

}

#destFolder{
	position: absolute;
}

#txtFileName:disabled{
  background:#ddd;
}

.modal-body{
  padding-top: 25px;
}

.modal-content div.button{
  position: relative;
  display: inline-block;    
  padding: 3px;
}

.ui-modal-footer div.button{
  border-color: #333;
  color:#000;
}

.ui-modal-footer div.button:hover{
  color:#333;
  text-decoration: none;
  text-shadow:none;
}
.ui-modal-footer div.button.add{
  cursor:default;
  opacity: .3;
}

.ui-modal-footer .button.add:hover{  
  border-color: #333;
}

.ui-modal-footer div.button.delete{
  opacity: .7;
}

.ui-modal-footer div.button.delete:hover{
  opacity: 1;
}

.ui-modal-footer div.button.up{
  border: 1px solid #333;
  opacity: .7;
}

.ui-modal-footer div.button.up:hover{
  opacity: 1;
}

#upload_frame{
  display: none;
}


ul.fileUpload li input{
    margin: 0;
}

ul.fileUpload li{
  display: inline-block;
  margin-right: 10px;
}

ul.fileUpload li:first-child{
  min-width:22%;
}

.modal-content  .invisible{
  display: none;
}

.modal-content .ui-modal-footer .button.active{
  opacity: .7;
}

.modal-content .ui-modal-footer .button.active:hover{
  opacity: 1;
  cursor: pointer;
}
.modal-dialog .modal-body input.disabled-input {
    background-color: #7B7B7B;
    color:#fff;
}

.tooltip-filesize{
  font-style: italic;
  font-weight: normal;
  color: #7B7B7B;
}